{% extends "base.html" %}

{% block title %}Connection réseau{% endblock %}

{% block content%}
<div class="row">
    <form method="POST" class="col s12" enctype=multipart/form-data>
        <div class="input-group mb-3">
            <label class="input-group-text" for="name">Lieu :</label>
            <input
                type="text"
                class="form-control"
                id="ssid"
                name="ssid"
                placeholder="Nom wifi"
            />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="name">Lieu :</label>
            <input
                type="password"
                class="form-control"
                id="ssid"
                name="ssid"
                placeholder="Mot de passe"
            />
        </div>

       

        <br>
        <button type="submit"
                class="btn btn-primary" name="upload">
            Connect
        </button>

        </form>

        <h2>Liste des wifi présents</h2>
        {{ wifi }}
{% endblock %}