[Unit]
Description=Anniv-API service
After=network.target

[Service]
TimeoutStartSec=0
Restart=always
WorkingDirectory=/home/user/Map-Memories
ExecStart=/usr/bin/python3 main_web.py

[Install]
WantedBy=multi-user.target